[Desktop Entry]
Name=ctrp_ti_screen_calibration
Comment=Calibrate touchscreen
Type=HildonControlPanelPlugin
Icon=control_calibration
Categories=general
X-control-panel-plugin=tscalib.so
X-Text-Domain=osso-applet-screencalibration
